@font-face {
  font-display: swap;
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/sora-v12-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/sora-v12-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Sora";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/sora-v12-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Sora";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/sora-v12-latin-800.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button {
  font-family: inherit;
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Sora";
  font-weight: normal;
}

main {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.site-header {
  padding: 24px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 32px;
}

.list-item a {
  font-size: 20px;
  font-weight: 600;
  transition: text-shadow 0.3s ease-in-out;
  &:hover {
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  }
}

.header__btn {
  padding: 16px 20px;
  border: 0;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
}

/* Hero section */
.hero {
  padding: 60px 0;
  position: relative;
}

.hero__title {
  margin-top: 110px;
  font-size: 48px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 2%;
  margin-bottom: 32px;
  span {
    font-weight: 800;
  }
  .dev {
    font-weight: 700;
    display: inline;
    color: white;
    -webkit-text-stroke: 3px black;
  }
}
.hero__describtion {
  color: #71717a;
  font-size: 16px;
  width: 600px;
}

.hero__img {
  position: absolute;
  top: 60px;
  right: 0;
}

.hero__links {
  margin-top: 94px;
  display: flex;
  gap: 32px;
  span {
    display: inline-block;
    height: 56px;
    width: 56px;
    background-color: #000;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  svg {
    width: 20px;
    height: 20px;
    path {
      fill: white;
    }
  }
}
/* Skills */
.skils {
  padding: 60px 0;
  text-align: center;
}

.skills__title {
  font-weight: 800;
  font-size: 48px;
  span {
    font-weight: 400;
  }
}
.skills__wrapper {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 40px;
}
.skills-card {
  width: 186px;
  height: 186px;
  border: #000 solid 2px;
  border-radius: 4px;
  padding: 32px 0;
}
.skills-card__img {
  width: 56px;
  height: 56px;
  margin-bottom: 32px;
}
.skills-card__title {
  font-weight: 700;
  font-size: 20px;
}

/* experience */
.experience {
  padding: 60px 0;
  background-color: #000;
  color: #fff;
}
.experience__container {
  text-align: center;
}

.experience__title {
  font-weight: normal;
  font-size: 48px;
  span {
    font-weight: 700;
  }
}

.experience__wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 40px 24px;
}

.experience__card {
  padding: 30px 24px;
  border: 2px solid #71717a;
  border-radius: 10px;
  text-align: left;
  background-color: transparent;
}

.experience__card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}

.experience__card-title {
  font-weight: 600;
  font-size: 24px;
  color: white;
  letter-spacing: -2%;
  display: flex;
  align-items: center;
  gap: 30px;
}

.experience__card-time {
  color: #d4d4d8;
}

.experience__card-descibtion {
  color: #d4d4d8;
}
